name: .NET Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    - name: Restore NuGet packages
      run: nuget restore SolarFlare.sln
    - name: Build
      run: msbuild SolarFlare.sln /p:Configuration=Release
    - name: Create Release
      id: create_release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: Release ${{ github.sha }}
        files: ./SolarFlare/bin/Release/SolarFlare.exe
        prerelease: false
